<!DOCTYPE html>

<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>         
         <form action="" method="post" novalidate>

            {{ form.hidden_tag() }}
            <p>
                {{ form.nick.label }}<br>
                {{ form.nick(size=20) }}
            </p>
        
            <p>
                {{ form.text.label }}<br>
                {{ form.text(size=100) }}
            </p>
        
            <p>{{ form.submit() }}</p>
         </form>
         
         <p>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
             
             <ul class=flashes>
                  {% for message in messages %}
                  <p>{{ message }}<p>
                  {% endfor %}
             </ul>
             {% endif %}
             {% endwith %}
         </p>
        
        <div> {% for post in posts: %} <div>
        <div> {{ post.user }} o {{ post.date }} napisał(a): </div>
        <div> {{ post.get_text(cut) }} </div>
              {% endfor %}
    </body>
</html>
